/* Color palette */
@font-face {
  font-family: 'BasierSquare';
  src: url('/fonts/basiersquare-medium-webfont.eot');
  src: url('/fonts/basiersquare-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/basiersquare-medium-webfont.woff2') format('woff2'),
       url('/fonts/basiersquare-medium-webfont.woff') format('woff'),
       url('/fonts/basiersquare-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BasierSquare';
  src: url('/fonts/basiersquare-regular-webfont.eot');
  src: url('/fonts/basiersquare-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/basiersquare-regular-webfont.woff2') format('woff2'),
       url('/fonts/basiersquare-regular-webfont.woff') format('woff'),
       url('/fonts/basiersquare-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

:root {
  --primary: #333333;
  --light-grey: #efefef;
  --dark-grey: #979797;
  --white: #ffffff;
  --box: #f4f4f4;
  --salmon: #ff7063;
}

/* Text styles */

.Heading-Dark-Left {
  font-family: BasierSquare;
  font-size: 56px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--primary);
}

.Heading-Large-Dark-Center {
  font-family: BasierSquare;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--primary);
}

.Heading-Large-Light-Left {
  font-family: BasierSquare;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--white);
}

.Button-Light-Center {
  font-family: BasierSquare;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

.Heading-Medium-Dark-Left {
  font-family: BasierSquare;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: var(--primary);
}

.Paragraph-Light-Left {
  font-family: BasierSquare;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--white);
}

.Menu-Dark-Right {
  font-family: BasierSquare;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: var(--primary);
}

.Placeholder-Dark-Left {
  font-family: BasierSquare;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-grey);
}

.Heading-Medium-Light-Left {
  font-family: BasierSquare;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: var(--white);
}

.Paragraph-Dark-Left {
  font-family: BasierSquare;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--primary);
}

.Button-Light-Left {
  font-family: BasierSquare;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}

.Heading-Small-Dark-Left {
  font-family: BasierSquare;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--primary);
}

.Link-Grey-Right {
  font-family: BasierSquare;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: var(--dark-grey);
}

.Link-Dark-Left {
  font-family: BasierSquare;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--primary);
}

.Link-Dark-Center {
  font-family: BasierSquare;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--primary);
}

.Menu-Dark-Center {
  font-family: BasierSquare;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: center;
  color: var(--primary);
}

.Heading-Small-Light-Left {
  font-family: BasierSquare;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}

.Heading-Medium-Grey-Center {
  font-family: BasierSquare;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-grey);
}

.Heading-Large-Dark-Left {
  font-family: BasierSquare;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--primary);
}

.Pill-Dark-Center {
  font-family: BasierSquare;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--primary);
}

.Paragraph-Small-Dark-Left {
  font-family: BasierSquare;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--primary);
}

.Heading-Small-Grey-Left {
  font-family: BasierSquare;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--dark-grey);
}

.Heading-Extra-Small-Grey-Left {
  font-family: BasierSquare;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-grey);
}

.Small-Dark-Left {
  font-family: BasierSquare;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--dark-grey);
}

.Pill-Light-Center {
  font-family: BasierSquare;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

.Placeholder-Small-Dark-Left {
  font-family: BasierSquare;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark-grey);
}
