html {
  font-family: 'BasierSquare';
  scroll-behavior: smooth;
  height: 100%;
}

html.quick {
  scroll-behavior: auto;
}

abbr[class^="dt"] {
  text-decoration: none;
}

button {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}

summary::-webkit-details-marker {
  display: none;
}

[hidden] {
  display: none !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--primary);
}

#menu a,
#menu a * {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  text-decoration: none;
  color: var(--primary);
}

.body > header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.body > header li {
  margin: 0 20px;
  position: relative;
}

.body > header li:last-child {
  margin-right: 0;
}

.body > header a.ext::after {
  opacity: 1;
}

.talk {
  margin: 0 auto;
  max-width: 920px;
}

.talk .urls {
  list-style: none;
  padding: 0;
  margin: 0;
}

.talk .urls a[href^="https://twitter.com"] {
  display: inline-block;
  background: url(/images/twitter.svg) no-repeat;
  width: 24px;
  height: 20px;
  overflow: hidden;
  text-indent: -9999px;
}

.solid-box {
  background-color: var(--box);
}

.back {
  display: block;
  margin: 30px 0;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--primary);
}

.back::before {
  content: '';
  background: url(/images/back.svg) no-repeat;
  display: inline-block;
  width: 12px;
  height: 10px;
  background-size: contain;
  margin-right: 14px;
}

.pill {
  white-space: pre;
  border-radius: 999px;
  background-color: var(--box);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--primary);
  /* text-transform: lowercase; */
  padding: 6px 18px;
  display: inline-block;
}

.pill.active {
  background-color: var(--salmon);
  color: white;
  margin: 0 8.5px 0 0;
}

.pill-button {
  font-size: 16px;
  /* width: 153px; */
  /* height: 32px; */
  border-radius: 999px;
  background-color: var(--salmon);
  color: white;
  /* text-transform: lowercase; */
  padding: 6px 18px;
  display: inline-block;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  font-size: 18px;
  color: var(--white);
  padding: 15px 28px;
  cursor: pointer;
}

.filter {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  padding: 25px;
  background-position: center;
  background-image: url(/images/filter.svg);
  background-repeat: no-repeat;
  cursor: pointer;

  position: absolute;
  top: 0px;
  right: 20px;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  scroll-snap-stop: always;
  scroll-snap-type: y proximity;
}

main p,
main li {
  font-size: 18px;
  margin: 28px 0;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: var(--primary);
}

main li {
  margin: 8px 0;
}

.body > footer {
  margin: 60px 0;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 32px;
}

.body > footer p {
  margin: 0;
  margin-bottom: 32px;
}

.body > footer .logo {
  height: 25px;
}

a.ext::after {
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 6px;
  opacity: 0.5;
  background-image: url(/images/external.svg);
}

a:hover {
  text-decoration: underline;
}

header.with-filter {
  position: relative;
}

header.with-filter summary > span {
  display: none;
}

.checkbox-pill :checked + .pill {
  background: var(--salmon);
  color: white;
  user-select: none;
}

.checkbox-pill {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 10px 5px;
}

.checkbox-pill input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.pill-list {
  display: flex;
  flex-wrap: wrap;
}

.pill-list + .pill-list {
  border-top: 1px solid var(--light-grey);
  margin-top: 25px;
  padding-top: 25px;
}

header.with-filter {
  padding: 0 40px;
}

.with-filter details .body {
  position: absolute;
  background: white;
  box-shadow: 0 20px 20px 0 rgba(51, 51, 51, 0.2);
  padding: 0 40px 40px 40px;
  margin-left: -40px;
  z-index: 10;
}

main header h1 {
  margin: 40px 0;
}

.body.tag-insights img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.talk-card {
  height: 360px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
  flex:1 1 auto;
}

.talk-card p {
  margin: 0;
}

.talk-card a {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(30, 30, 30, 0), #1e1e1e);
  width: 100%;
}

.talk-card a:hover {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(30, 30, 30, 0), var(--salmon));
}

.talk-card a:hover * {
  text-decoration: none;
}

.talk-card h2 {
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: var(--white);
}

.talk-card p {
  font-family: BasierSquare;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--white);
}

.talk-card .pill {
  width: min-content;
}

/* newsletter styles */

.newsletter {
  border: solid 2px var(--salmon);
  background-color: var(--white);
  padding: 8px;
  background: url(/images/top-grey.svg) no-repeat top right, url(/images/bottom-grey.svg) no-repeat bottom left;
  background-origin: content-box;
  border-left-width: 0;
  border-right-width: 0;
}

.newsletter > div {
  padding: 48px 32px;
  padding-top: 68px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.newsletter > div > * {
  position: relative;
}

.newsletter h2 {
  font-family: BasierSquare;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--primary);
  margin: 25px 0;
}

.newsletter h2::before {
  content: '';
  background: url(/images/newsletter.svg) no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  position: absolute;
  top: -20px;
}

.newsletter form {
  margin-top: 32px;
}

.newsletter form label {
  display: block;
  border-radius: 9999px;
  background-color: var(--box);
  margin-bottom: 20px;
  padding: 18px 28px;
  font-size: 18px;
  color: var(--dark-grey);
  display: flex;
  align-items: center;
}

.newsletter form label input {
  flex-grow: 1;
  background: none;
  font-size: 18px;
  color: var(--dark-grey);
  margin-left: 10px;
  border: 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.newsletter form label input:focus {
  outline: none;
  border-bottom: 2px solid var(--salmon);
}

.snap {
  scroll-snap-align: start;
}

main.snap {
  padding-top: 60px;
  margin-top: -60px;
}
