
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/favicon-192.png">
    <link rel="icon" type="image/png" sizes="288x288" href="/images/favicons/favicon-288.png">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
