<style>

#menu {
  /* height: 65px; */
  flex-wrap: wrap;
  width: 100%;
  background: rgb(255, 255, 255);
  z-index: 100;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: nowrap;
}

#menu #open {
  width: 100%;
  text-align: right;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  bottom: 0;
  width: initial;
  align-self: flex-end;
}

#menu h1 {
  align-self: baseline;
  height: 100%;
  position: relative;
  position: sticky;
  top: 60px;
  width: 60px;
  z-index: 1000;
}

#menu nav:after {
  content: '';
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 30%);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-attachment: fixed;
  background-position-y: 0;
  pointer-events: none;
  background-size: cover;
}

#menu nav,
#menu #hide {
  display: none;
}

#menu nav ul {
  display: block;
  text-align: center;
  background: white;
  position: relative;
  z-index: 100;
  width: 100%;
  left: 0;
  padding: 20px 0 60px 0;
}

#menu li {
  margin: 0;
  padding: 10px 0;
}

#menu li.selected::after {
  content: none;
}

#menu .logo {
  margin: 0;
  font-size: 16px;
  background: url(/images/logo.svg) no-repeat;
  background-size: contain;
  display: block;
  color: transparent;
  overflow: hidden;
  height: 60px;
  width: 60px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -10px;
}


#menu nav {
  display: block;
  margin-top: 1px;
  width: 80%;
}

@media only screen and (min-width: 700px) {
  #menu {
    height: 80px;
  }

  #menu nav ul {
    display: flex;
    padding: 0;
  }

  #menu #open {
    display: none;
  }

  #menu nav {
    display: block;
    width: auto;
  }

  #menu li {
    margin: 0 10px;
  }

  #menu li:last-child {
    margin-right: 0;
  }

  #menu .logo {
    height: 96px;
    width: 96px;
    bottom: -25px;
  }
}

@media only screen and (min-width: 840px) {
  #menu li {
    margin: 0 20px;
  }
}

</style>

<header id="menu">
  <h1><a class="logo" href="/">ffconf</a></h1>
  <!-- <a id="hide" href="#"><img src="/images/hide.svg"></a> -->
  <nav>
    <ul>
      <li><a class="ext" href="https://2019.ffconf.org">ffconf 2019</a></li>
      <li{% if page.url.startsWith('/talks/') %} class="selected"{% endif %}><a href="/talks">Talks</a></li>
      <li{% if page.url.startsWith('/articles/') %} class="selected"{% endif %}><a href="/articles">Articles</a></li>
      <li{% if page.url.startsWith('/photos/') %} class="selected"{% endif %}><a href="/photos">Photos</a></li>
      <li{% if page.url.startsWith('/tweets/') %} class="selected"{% endif %}><a href="/tweets">Tweets</a></li>
      <li{% if page.url.startsWith('/history/') %} class="selected"{% endif %}><a href="/history">History</a></li>
    </ul>
  </nav>
  <a id="open" class="snap" href="#menu">Menu</a>
</header>

