<style>

.has-js #menu {
  background: none;
  height: 70px;
}

.has-js #menu nav {
  width: 100%;
  position: absolute;
  top: 0px;
  margin-top: 0;
  transform: translateY(-280px);
  transition: transform 200ms ease-out;
  border-top: 1px solid var(--light-grey);
  width: 100%;
  position: absolute;
  display: block;
}

.has-js #menu nav ul {
  width: 100%;
}

.menu-open #menu nav {
  transform: translateY(69px);
}

.menu-open #menu ul {
  width: 100%;
  padding-bottom: 20px;
}

.menu-open #open:before {
  content: '';
  background: url(/images/hide.svg) no-repeat;
  background-position: center;
  background-size: contain;
  height: 16px;
  width: 16px;
}

.menu-open #open span {
  display: none;
}

#menu {
  flex-wrap: wrap;
  width: 100%;
  background: linear-gradient(rgb(255, 255, 255) 0, rgb(255, 255, 255) 70px, var(--light-grey) 70px, rgb(255, 255, 255) 72px);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: nowrap;
}

.menu-controls {
  position: sticky;
  top: 0px;
  align-self: baseline;
}

#menu .menu-controls a {
  height: 64px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding: 0 20px 0 0;
}

#menu h1 {
  align-self: baseline;
  height: 100%;
  position: sticky;
  top: 13px;
  width: 80px;
  z-index: 1000;
  padding-left: 20px;
  flex-shrink: 1;
  height: 50px;
}

#menu nav,
#menu #hide {
  display: none;
}

#menu nav ul {
  display: block;
  text-align: center;
  background: white;
  position: relative;
  z-index: 100;
  width: 80%;
  left: 0;
  padding: 0px 0 60px 0;
  margin: 0 auto;
}

#menu li {
  margin: 0;
  padding: 10px 0;
}

#menu li.selected::after {
  content: none;
}

#menu .logo {
  margin: 0;
  font-size: 16px;
  background: url(/images/logo.svg) no-repeat;
  background-size: contain;
  display: block;
  color: transparent;
  /* overflow: hidden; */
  height: 60px;
  width: 60px;
  display: inline-block;
  position: absolute;
  /* left: 15px; */
  /* bottom: -10px; */
  margin-top: 0px;
  background-position: bottom;
}


#menu nav {
  display: block;
  /* margin-top: 1px; */
  flex-grow: 1;
  position: sticky;
  top: 110px;
  margin-top: 80px;
}

@media only screen and (min-width: 700px) {
  #menu {
    background: white;
    height: 80px;
  }

  #menu .menu-controls {
    display: none;
  }

  #menu nav {
    flex-grow: 0;
    display: block;
    width: auto;
    margin-right: 40px;
    margin-top: 0;
    position: static;
  }

  #menu nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: auto;
  }

  #menu li {
    margin: 0 10px;
  }

  #menu li:last-child {
    margin-right: 0;
  }

  #menu .logo {
    height: 96px;
    width: 96px;
    bottom: -40px;
  }
}

@media only screen and (min-width: 840px) {
  #menu li {
    margin: 0 20px;
  }
}

</style>

<header id="menu">
  <h1><a class="logo" href="/">ffconf</a></h1>
  <nav>
    <ul>
      <li><a class="ext" href="https://2019.ffconf.org">ffconf 2019</a></li>
      <li{% if page.url.startsWith('/talks/') %} class="selected"{% endif %}><a href="/talks">Talks</a></li>
      <li{% if page.url.startsWith('/articles/') %} class="selected"{% endif %}><a href="/articles">Articles</a></li>
      <li{% if page.url.startsWith('/photos/') %} class="selected"{% endif %}><a href="/photos">Photos</a></li>
      <li{% if page.url.startsWith('/tweets/') %} class="selected"{% endif %}><a href="/tweets">Tweets</a></li>
      <li{% if page.url.startsWith('/history/') %} class="selected"{% endif %}><a href="/history">History</a></li>
    </ul>
  </nav>
  <div class="menu-controls">
    <a id="open" class="snap" href="#menu"><span>Menu</span></a>
  </div>
</header>

<script defer async>
  const $ = s => document.querySelector(s);
  $('#open').onclick = e => {
    e.preventDefault();
    document.documentElement.classList.toggle('menu-open');
  }
  document.documentElement.classList.add('has-js');
</script>
