<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ffconf" />
<meta name="twitter:creator" content="@ffconf" />
<meta property="og:url" content="https://ffconf.org/" />
<meta property="og:title" content="ffconf 🌟 UK web conference" />
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}ffconf - the UK's best JavaScript and Web conference in Brighton.{%- endif -%}" />
<meta property="og:image" content='https://ffconf.org/images/cards/{{ page.url | kebab }}card.png' />
