<section class="newsletter">
  <div>
    <div>
      <h2>Get the latest insights & news for ffconf</h2>
      <p>Announcements for conference details, workshops, products and more – including early bird access and video releases from previous years.</p>
    </div>
    <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/295771/subscribe" data-remote="true">
      <input type="hidden" value="{&quot;form_style&quot;:&quot;full&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options">
      <input type="hidden" name="id" value="295771" id="landing_page_id">
      <input type="hidden" name="ck_form_recaptcha" value="" id="ck_form_recaptcha">

      <div class="ck_control_group ck_captcha2_h_field_group ck-captcha2-h" style="position: absolute !important;left: -999em !important;">
        <label class="ck_label" for="ck_captcha2_h">We use this field to detect spam bots. If you fill this in, you will be marked as a spammer.</label>
        <input type="text" name="captcha2_h" class="ck-captcha2-h" id="ck_captcha2_h">
      </div>


      <div>
        <label><span>Name</span><input name="name"></label>
        <label><span>Email</span><input type="email" name="email"></label>
        <button class="pill-button" type="submit">Subscribe</button>
      </div>
    </form>
  </div>
</section>
