<section class="newsletter">
  <div>
    <div>
      <h2>Get the latest insights & news for ffconf</h2>
      <p>Announcements for conference details, workshops, products and more – including early bird access and video releases from previous years.</p>
    </div>
    <form action="https://mail.leftlogic.com/subscribe/6784a6a3-4975-409d-975b-64df4672ca9c" method="post">
      <div style="position: absolute !important;left: -999em !important;">
        <label>We use the following field to detect spam bots. If you fill this in, you will be marked as a spammer.</label>
        <input type="text" name="last_name">
      </div>


      <div>
        <label><span>Name</span><input name="name"></label>
        <label><span>Email</span><input type="email" name="email"></label>
        <button class="pill-button" type="submit">Subscribe</button>
        <input type="hidden" name="tags" value="ffconfnews;ffconf" />
      </div>
    </form>
  </div>
</section>
