---
layout: layouts/base.njk
css: articles.css
---

{% set articles = collections.articles %}
<section class="articles">
  <header class="with-filter">
    <h1><span id="count">Articles</span></h1>
    <a class="pill-button heading-link" href="/articles.xml"><img src="/images/rss.svg" width="24" height="24" alt="RSS Feed"> Feed</a>
  </header>

  <ul class="article-list">
  {% for article in articles %}
  <li class="{% for tag in article.data.tags %}{{ tag | slugify }}{% endfor %}">
    <a {% if article.url.startsWith('http') %}target="_blank"{% endif %} href="{{ article.url }}">{{article.data.title}}{% if article.data.by %}<span class="byLine"> by {{ article.data.by }}{% endif %}</span></a>
    <span class="pills">
        <span class="pill active">{{ article.data.date | format("MMM YYYY") }}</span>{% for tag in article.data.tags %}<span class="pill active tag">{{ tag }}</span>{% endfor %}
    </span>
  </li>
  {% endfor %}
  </ul>
</section>
