---
permalink: /articles.xml
layout: false
metadata:
  title: ffconf articles
  url: https://ffconf.org/
  feed:
    subtitle: Articles, news and community posts about ffconf
    filename: articles.xml
    url: https://ffconf.org/feed.xml
    id: https://ffconf.org/
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.feed.subtitle }}</subtitle>
  <link href="{{ metadata.feed.url }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.articles[0].date | format("ddd, DD MMM YYYY HH:mm:ss +0000") }}</updated>
  <id>{{ metadata.feed.id }}</id>
  {%- for post in collections.articles %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
