---
layout: layouts/base.njk
---

<style>
.article {
  max-width: 920px;
  margin: 0 auto;
}

.article > header h1 {
  margin: 24px 0 48px 0;
}

.article .body a {
  color: var(--primary);
  transition: color 150ms ease-out;
}

.article .body a:hover {
  color: var(--salmon);
}

img[alt^="large"] {
  width: 100%;
}
</style>

<section class="article">
  <header>
    <a class="back Link-Dark-Left" href="/articles">Back to all Articles</a>
    <span class="pill active">{{ date | format("MMM D YYYY") }}</span>{% for tag in tags %}<span class="pill active">{{ tag }}</span>{% endfor %}
    <h1>{{ title }}</h1>
  </header>

  <div class="body">
    {{ content | safe}}
  </div>
</section>
