<!doctype html>
<html lang="en" class="{{ pageClass }}" id="ffconf">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/fonts/basiersquare-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/basiersquare-medium-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <title>{%- if title -%}{{ title }}{%- else -%}ffconf{%- endif -%}</title>
    <style>{% include "css/global.css" %}</style>
    <style>{% include "css/main.css" %}</style>
    {% block css %}
      {{ css | safe }}
    {% endblock %}
    <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}ffconf - the UK's best JavaScript and Web conference in Brighton{%- endif -%}"/>
    {# {% include "favicons.njk" %} #}
    {# {% include "social.njk" %} #}
  </head>
  <body>
    <div class="body">
      {% include "header.njk" %}
      <main>
        {% block content %}
        {{ content | safe }}
        {% endblock %}
        {% block credits %}
        {% endblock %}
      </main>
      {% include "newsletter.njk" %}
      <footer>
        <p>Organised by Left Logic, a small Brighton (UK) based development company, specialising in Node based applications and bleeding edge front end technology. Curated and created with much love, tears and sweat by Remy & Julie of Left Logic.</p>
        <object class="logo" type="image/svg+xml" data="/images/leftlogic.svg"><a href="https://leftlogic.com" target="_blank" class="left-logic">Left Logic</a></object>
      </footer>
    </div>
    <style>{% include "css/mq.css" %}</style>
  </body>
</html>


