---
layout: layouts/base.njk
css: history.css
---

<section class="history">
  <header>
    <h1><span id="count">History of ffconf</span></h1>
  </header>

  <div class="col">
    <div>
      <h2>Who is ffconf?</h2>
      <p>
        This conference was created by
        <a href="https://remysharp.com">Remy</a> and
        <a href="https://twitter.com/julieanne">Julie Sharp</a>. Working
        together with complementing skills, Julie plans and coordinates all the
        event logistics and Remy curates the content and works on marketing.
      </p>
      <img
        src="/images/team.jpg"
        class="soft team"
        alt="Julie and Remy Sharp smiling at the camera"
      />
    </div>
    <div>
      <h2>Previous years</h2>
      <p>
        Each year of ffconf has had it's own visual theme and own unique logo
        design. They're all still hosted and each year can be visited below.
      </p>
      <ul class="pill-list">
        {% for year in years %}
        <li>
          <a
            class="pill"
            href="https://{{ year }}.ffconf.org"
            target="_blank"
            >{{ year }}</a
          >
        </li>
        {% endfor %}
      </ul>

      <h2 style="margin-top: 40px;">Our logos, so far…</h2>
      <ul class="logo-list">
        {% for year in years %}
        <li>
          <a
            href="https://{{ year }}.ffconf.org"
            target="_blank"
            ><img width="100" height="100" class="soft" src="/images/logos/{{ year }}.png"><span>{{ year }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <h2>Who else was involved?</h2>
      <p>
        Over the years different people have been involved to help either
        creatively or on the day to ensure our event is safe and successful.
        Here's some of those special volunteers that have helped on multiple
        years and contributed to making ffconf amazing.
      </p>
      <ul class="involved">
        <li>
          {% involved "Giulia Alfonsi", "https://github.com/electricg",
          "electric_g.jpg", "2014—", "Full stack website development and
          conference support staff" %}
        </li>

        <li>
          {% involved "Chris Mahon", "http://www.chrismahon.com/", "chrism.jpg",
          "2010—", "Web site design" %}
        </li>

        <li>
          {% involved "Claire Hudson", null, "claire.jpg", "2009—", "Front of
          house conference staff" %}
        </li>

        <li>
          {% involved "David Gauld", "http://dcgauld.com/", "david.jpg",
          "2014—", "Conference support staff" %}
        </li>

        <li>
          {% involved "Seb Lee-Delisle", "https://seblee.me/", "seb.jpg",
          "2015—", "Photography" %}
        </li>
        <li>
          {% involved "Carl Jeffrey", "http://fellow.ventures/", "carl.jpg",
          "2009—2014", "Print design" %}
        </li>
        <li>
          {% involved "Jon Linklater Johnson",
          "https://twitter.com/binarytales", "jon.jpg", "2011—2013", "Web site
          development and conference support staff" %}
        </li>
        <li>
          {% involved "Drew McLellan", "https://allinthehead.com/about",
          "drew.jpg", "2012—2014", "Photography" %}
        </li>
      </ul>
    </div>

    <div>
      <h2>Ask us anything</h2>
      <p>
        This page is a work in progress, but if you have a question about how
        some aspect of ffconf came about, please don't hesitate to ping or DM us
        on Twitter: <a href="https://twitter.com/ffconf">@ffconf</a> or
        individually at <a href="https://twitter.com/rem">@rem</a> and
        <a href="https://twitter.com/julieanne">@julieanne</a>.
      </p>
    </div>
  </div>
</section>
