---
pagination:
  data: talks
  size: 1
  alias: talk
permalink: talks/{{ pagination.items[0].slug }}/index.html
layout: layouts/base.njk
css: talk.css
---

<section class="talk">
  <header>
    <a class="back Link-Dark-Left" href="/talks">Back to all Talks</a>
    {% for tag in talk.tags %}<span class="pill active">{{ tag }}</span>{% endfor %}<span class="pill active">{{ talk.event.year }}</span>
    <h1>{{ talk.title }}</h1>
  </header>

  <section class="media">
    <div class="speaker-image" style="background-image: url({{ talk.speaker.photo }})">
      <img src="{{talk.speaker.photo}}">
    </div>
    <div class="links">
      {% if talk.audio %} <div class="audio box">
        <h2>Audio</h2>
        <a download="{{ talk.slug }}.mp3" href="{{ talk.audio }}">Download</a>
        <audio controls src="{{ talk.audio }}">
      </div>
      {% endif %}
      {% if talk.video %} <div class="video solid-box">
        <h2>Video</h2>
        <a target="_blank" class="ext" href="{{ talk.video }}">Watch<span> on YouTube</span></a>
      </div>{% endif %}
      {% if talk.slides %} <div class="slide solid-box">
        <h2>Slides</h2>
        <a target="_blank" class="ext" href="{{ talk.slides }}">View</a>
      </div>{% endif %}
    </div>
  </section>


  <section class="descriptions">
    <h2>Talk description</h2>
    <div>{{ talk.description | markdown | safe }}</div>

  {% set summaryPath = "src/_data/session_summary/" + talk.slug + ".md" %}
  {% if summaryPath | fileExists %}
    <section class="session-summary">
      <h2>Session Summary</h2>
      {% set summary = summaryPath | readFile | formatSessionSummary %}
      <div class="summary">{{ summary.summary | markdown | safe }}</div>
      <details>
        <summary>View detailed generated session topics, quotes and video timestamps</summary>
        <div class="content">{{ summary.content | markdown | safe }}</div>
      </details>
    </section>
  {% endif %}

    <h2>About {{ talk.speaker.name }}</h2>
    {% if talk.speaker.bio %}<div>{{ talk.speaker.bio | markdown | safe }}</div>
    {% else %}<div><em>{{ talk.speaker.name }} spoke back when we didn't ask for bios, but do checkout their links.</em></div>{% endif %}
    <ul class="urls">
      {% if talk.speaker.twitter %}
      {% social talk.speaker.twitter %}
      {% endif %}
      {% for item in talk.speaker.websites %}
        <li><a target="_blank" href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </section>

</section>
