<!doctype html>
<html lang="en" class="{{ pageClass }}" id="ffconf">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="source" content="https://github.com/leftlogic/ffconf">
    <link rel="preload" href="/fonts/BasierSquare-Medium-custom.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/BasierSquare-Regular-custom.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/css/base.css">
    {%- if css -%}
      {% if css is string %}
    <link rel="stylesheet" href="/css/{{ css }}">{%- else -%}
        {% for file in css %}
    <link rel="stylesheet" href="/css/{{ file }}">{%- endfor -%}
      {%- endif -%}
    {%- endif %}
    <link rel="stylesheet" href="/css/mq.css">
    <link rel="alternate" type="application/rss+xml" title="Articles, news and community posts about FF Conf" href="/articles.xml">
    {%- include "favicons.njk" -%}
    {%- include "head-meta.njk" %}
    <script defer async>
      const $$ = s => Array.from(document.querySelectorAll(s));
      const $ = s => document.querySelector(s);
    </script>
    <script defer data-domain="ffconf.org" src="https://plausible.io/js/script.outbound-links.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    {%- if js -%}
      {% if js is string %}
    <link rel="stylesheet" href="/assets/{{ js }}">{%- else -%}
        {% for file in js %}
    <link rel="stylesheet" href="/assets/{{ file }}">{%- endfor -%}
      {%- endif -%}
    {%- endif %}
  </head>
  <body id="{{ id }}">
    <a href="#main-content" class="skip">Skip to main content</a>
    <div class="body">
      {% include "header.njk" %}
      <main id="main-content" class="snap">
        {%- block content %}
        {{ content | safe }}
        {%- endblock %}
        {%- block credits %}
        {%- endblock %}
      </main>
      {% if not hide_newsletter %}
      {% include "newsletter.njk" %}
      {% endif %}
      <footer>
        <p class="previous-years">Over the years:
        {% for year in years | reverse %}{% if year | inThePast %}
          <a
            href="https://{{ year }}.ffconf.org"
            target="_blank"
            >{{ year }}</a
          >{% endif %}
        {% endfor %}
        </p>
        <ul class="footer-links">
          <li><a href="/why-attend">Why attend FFConf?</a></li>
          <li><a href="/scholarship">Scholarship</a></li>
          <li><a href="/inclusion">Inclusion Statement</a></li>
          <li><a href="/accessibility">Venue Accessibility</a></li>
          <li><a href="/articles/cfp">Call For Papers</a></li>
          <li><a href="/code-of-conduct">Code of Conduct</a></li>
          <li><a href="/covid">COVID policy</a></li>
          <li><a href="/contact">Contact Us</a></li>
          </ul>
        <div>
          <p>Organised by Left Logic, a small Brighton (UK) based development company, specialising in Node based applications and bleeding edge front end technology. Curated and created with much love, tears and sweat by Remy & Julie of Left Logic.</p>
          <object aria-label="Left Logic" class="logo" height="25" width="110" type="image/svg+xml" data="/images/leftlogic.svg"><a href="https://leftlogic.com" target="_blank" class="left-logic">Left Logic</a></object>
        </div>
      </footer>
    </div>


    {# <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1656750-37"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-1656750-37');
    </script> #}
</body>
</html>


