<!doctype html>
<html lang="en" class="{{ pageClass }}" id="ffconf">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="source" content="https://github.com/leftlogic/ffconf">
    <link rel="preload" href="/fonts/basiersquare-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/basiersquare-medium-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <title>{%- if title -%}{{ title }} - ffconf{%- else -%}ffconf - Web development & JavaScript conference in Brighton, UK{%- endif -%}</title>
    <link rel="stylesheet" href="/css/base.css">
    {% if css %}<link rel="stylesheet" href="/css/{{ css }}">{%endif%}
    <link rel="stylesheet" href="/css/mq.css">
    <link rel="alternate" type="application/rss+xml" title="Articles, news and community posts about ffconf" href="/articles.xml">
    <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}ffconf - the UK's best JavaScript and Web conference in Brighton{%- endif -%}"/>
    {%- include "favicons.njk" -%}
    {%- include "social.njk" %}
    <script defer async>
      const $$ = s => Array.from(document.querySelectorAll(s));
      const $ = s => document.querySelector(s);
    </script>
  </head>
  <body id="{{ id }}">
    <div class="body">
      {% include "header.njk" %}
      <main class="snap">
        {%- block content %}
        {{ content | safe }}
        {%- endblock %}
        {%- block credits %}
        {%- endblock %}
      </main>
      {% include "newsletter.njk" %}
      <footer>
        <p class="previous-years">Previous years:
        {% for year in years | reverse %}
          <a
            href="https://{{ year }}.ffconf.org"
            target="_blank"
            >{{ year }}</a
          >
        {% endfor %}
        </p>
        <div>
          <p>Organised by Left Logic, a small Brighton (UK) based development company, specialising in Node based applications and bleeding edge front end technology. Curated and created with much love, tears and sweat by Remy & Julie of Left Logic.</p>
          <object class="logo" height="25" width="110" type="image/svg+xml" data="/images/leftlogic.svg"><a href="https://leftlogic.com" target="_blank" class="left-logic">Left Logic</a></object>
        </div>
      </footer>
    </div>
</body>
</html>


