---
permalink: /api/help/index.json
---
{
  "/api": "Array of all events with nested talks and nested speakers",
  "/api/event/:year": "Filtered sessions by year",
  "/api/session/:slug": "Filtered session by unique slug"
}
