---
layout: layouts/base.njk
css: jobs.css
---

<section class="jobs">
  <header class="with-filter">
    <h1><span id="count">Jobs</span></h1>
  </header>

  <ul class="job-list">
  {% for job in jobs %}
    <li>
      <a href="/jobs/{{job.slug}}">
        <p><strong>{{job.title}}</strong> <span>at</span> <span class="company">{{ job.company }}</span></p>
        <p>{{ job.salary }}</p>
        <p><small>{{ job.city }} {{ job.country }}</small></p>
        <p><small>Posted {{ job.from | format("MMM YYYY") }}</small></p>
      </a>
      <div class="meta">
        <p class="pills">
          {% for type in job.type %}
          <span class="pill active">{{ type }}</span>
          {% endfor %}
        </p>
      </div>
    </li>
  {% endfor %}
  </ul>

  <p class="list">
    <a href="/submit-job"><strong>Submit your own listing for free</strong></a>
  </p>
</section>
