---
layout: layouts/base.njk
css: jobs.css
---

<section class="jobs">
  <header class="with-filter">
    <h1><span id="count">Jobs</span></h1>
  </header>

  <ul class="job-list">
  {% for job in (jobs | repeat(10)) %}
    <li>
      <p><a href="/jobs/{{job.slug}}">{{job.title}}</a></p>

      <p><span class="byLine">{{ job.company }}</span></p>
      <p><small>{{ job.city }} {{ job.country }}</small></p>
      <span>Listed {{ job.from | format("DD MMM YYYY") }}</span>

      <p>
        <span class="pills">
          {% for type in job.type %}
          <span class="pill active">{{ type }}</span>
          {% endfor %}
        </span>
      </p>


    </li>
  {% endfor %}
  </ul>
</section>
