---
layout: layouts/base.njk
css: jobs.css
pagination:
  data: jobs
  size: 1
  alias: job
permalink: '/jobs/{{ job.slug }}/index.html'
---

<section class="job-single">
  <header>
    <a class="back" href="/jobs">Back to all jobs</a>
    <h1>{{ job.title }}</h1>
  </header>

  <aside>
    <h2><strong><a target="_blank" href="{{ job.url }}">{{ job.company }}</a></strong></h2>
    <p><strong>Salary: {{ job.salary }}</strong></p>
    <p><a target="_blank" href="{{ job.url }}">{{ job.url | niceDomain }}</a></p>
    <p>Location: {{ job.city }}, {{ job.country }}</p>
    <p>Position: {{ job.type | join(", ") | lower }}</p>
    <p><small>Listed: {{ job.from | format("DD MMM YYYY") }}</small></p>
    <p><a class="button pill-button" href="mailto:{{ job.email }}">Apply now</a></p>
  </aside>
  <article class="job">
    {{ job.description | markdown | safe }}
  </article>
</section>
