#home main {
  position: relative;
}

#home main header {
  padding: 32px;

  background-color: var(--salmon);
  background-image: url(/images/hero/3a.jpg), url(/images/hero/1.jpg), url(/images/hero/3.jpg);
  background-position: top left, top center, top right;
  background-size: 34%, 34%, 34%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  padding-top: 30%;
}

#home main header * {
  color: var(--white);
}

#home main h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.27;
  border-bottom: 1px solid var(--white);
  padding-bottom: 32px;
}

#home main .next-icon {
  font-size: 18px;
  background: url(/images/calendar.svg) no-repeat;
  background-size: 30px;
  line-height: 36px;
  padding-left: 46px;
}

#home main header a {
  font-size: 22px;
  text-decoration: none;
  background: url(/images/arrow-white.svg) no-repeat;
  background-position: right;
  padding-right: 65px;
  display: block;
}

@media only screen and (min-width: 700px) {
  #home main header {
    background-image: none;
    padding: 80px 100px;
  }

  #home main {
    /* background-color: var(--salmon); */
    background-image: url(/images/hero/3a.jpg), url(/images/hero/1.jpg), url(/images/hero/3.jpg);
    background-position: top left, top center, top right;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 34%, 34%, 34%;
    padding-top: 16.666%;
  }

  #home main:before {
    background-color: var(--salmon);
    content: '';
    height: 60%;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  #home main h2 {
    font-size: 42px;
  }

  #home main header a {
    font-size: 32px;
    display: inline;
  }

  .talk-text-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -10px;
  }

  .talk-text-cards:before {
    content: '';
    background: var(--salmon);
    width: 100%;
    position: absolute;
    height: 10vh;
    z-index: -1;
    left: 0;
    right: 0;
  }
}

@media only screen and (min-width: 900px) {
  #home main h2 {
    font-size: 56px;
  }
}
