body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background: white;
}

body > div {
  margin: 0px auto;
  width: 100%;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 14px;
}

body > div > header {
  border-bottom: 1px solid #d2d6dc;
  padding: 16px;
}

ul, ol {
  padding-left: 1rem;
}

a {
  border-bottom: 0 !important;
  text-decoration: underline !important;
}

body > div > div {
  padding: 0 16px;
}

@media screen and (min-width: 550px) {
  body {
    background: rgb(249, 250, 251);
    padding: 20px;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 18px;
  }

  body > div {
    background: white;
    margin: 20px 0;
    max-width: 700px !important; /* overrides inline style */  
    -webkit-box-shadow: 0 1px 6px 0 rgba(210, 214, 220, 0.3);
    -moz-box-shadow: 0 1px 6px 0 rgba(210, 214, 220, 0.3);
    box-shadow: 0 1px 6px 0 rgba(210, 214, 220, 0.3);
    border: 1px solid #d2d6dc;
  }

  body > div > header {
    padding: 30px 50px;
  }

  body > div > div {
    padding: 0 30px;
  }
}

header nav * {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

header nav ul {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

header nav li {
  margin-right: 16px;
}

@media screen and (min-width: 550px) {
  header nav ul {
    font-size: inherit;
  }

  header nav li {
    margin-right: 30px;
  }

}

header nav li:last-child {
  margin-right: 0;
}

header h1,
header h2 {
  margin: 0;
}

header h2 {
  font-weight: normal;
  margin: 5px 0;
  color: #666;
}

a {
  color: rgb(8, 117, 193);
}

a:hover {
  color: #1b8ede;
  border-bottom-color: #1b8ede;
}

.button:hover {
  color: #fff;
  background: #666;
}

/* hide the unsubscribe as it's not needed */
body > div > div > div.footer {
  display: none;
}
