body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 20px;
  background: rgb(249, 250, 251);
}

body > div {
  margin: 20px 0;
  background: white;
  -webkit-box-shadow: 0 1px 6px 0 rgba(210, 214, 220, 0.3);
  -moz-box-shadow: 0 1px 6px 0 rgba(210, 214, 220, 0.3);
  box-shadow: 0 1px 6px 0 rgba(210, 214, 220, 0.3);
  margin: 0px auto;
  max-width: 700px !important; /* overrides inline style */
  width: 100%;
  border: 1px solid #d2d6dc;
}

body > div > header {
  border-bottom: 1px solid #d2d6dc;
  padding: 30px 50px;
}

header nav * {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

header nav ul {
  margin-top: 25px;
  display: flex;
}

header nav li {
  margin-right: 30px;
}

header h1,
header h2 {
  margin: 0;
}

header h2 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 5px 0;
  color: #666;
}

body > div > div {
  padding: 0 30px;
}

a {
  color: rgb(8, 117, 193);
}

a:hover {
  color: #1b8ede;
  border-bottom-color: #1b8ede;
}

.button:hover {
  color: #fff;
  background: #666;
}

/* hide the unsubscribe as it's not needed */
body > div > div > div.footer {
  display: none;
}
