.article {
  max-width: 920px;
  margin: 0 32px;
}

.article > header h1 {
  margin: 24px 0 48px 0;
}

.article .body a {
  color: var(--primary);
  transition: color 150ms ease-out;
}

.article .body a:hover {
  color: var(--salmon);
}

h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.27;
  letter-spacing: normal;
  color: var(--primary);
  margin-top: 50px;
}

@media only screen and (min-width: 700px) {
  .article {
    margin: 0 auto;
  }
}
