.article-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.articles header {
  padding: 0 32px;
}

.article-list li {
  background-color: var(--box);
  padding: 22px 32px 32px 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  flex-direction: column;
  border-radius: 2px;
}

.article-list li a {
  padding: 10px 0 18px 0;
  color: var(--primary);
  font-weight: 500;
  line-height: 1.33;
  text-decoration: none;
}

.article-list .pills {
  white-space: nowrap;
}

.article-list .pill.active {
  background: var(--white);
  color: var(--primary);
}

.article-list a span {
  opacity: 0.6;
}

.article-list a[href^='http']:after {
  content: '';
  opacity: 0.3;
  padding-right: 22px;
  background: url(/images/external.svg) no-repeat;
  background-position: center right;
  background-size: 14px;
}

.article-list a[href^='http']:hover:after,
.article-list a[href^='http']:hover span {
  opacity: 1;
}

@media only screen and (min-width: 700px) {
  .article-list li {
    align-items: center;
    flex-direction: row;
    padding: 14px 32px 14px 22px;
  }

  .article-list li a {
    padding: 10px;
  }
}
