.jobs h1 {
}

.job-list {
  list-style: none;
  padding: 0;
}

.job-list > *:last-child {
  border-bottom: none;
}

.job {
  margin-bottom: 32px;
}

@media only screen and (min-width: 700px) {
  .job {
    grid-area: body;
    /* border-left: 2px solid var(--salmon); */
    /* padding-left: 32px; */
  }
}

.job > h1 {
  font-size: 24px;
}

.job > h2 {
  font-size: 20px;
}

.job > h3 {
  font-size: 18px;
}

.job > h4 {
  font-size: 18px;
  font-style: italic;
}

.job > h5,
.job > h6 {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

.job-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.job-single > h1 {
  padding: 32px 0;
}

.job-list > li {
  background-color: var(--box);
  padding: 22px 32px 32px 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  margin: 32px 0;
}

@media only screen and (min-width: 700px) {
  .job-list li {
    border-radius: 2px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
  }
}

.job-list li a {
  padding: 10px 0 18px 0;
  color: var(--primary);
  font-weight: 500;
  line-height: 1.33;
  text-decoration: none;
}

.job-list li a:hover {
  text-decoration: underline;
}

.job-list .pills {
  white-space: nowrap;
}

.job-list .pill.active {
  background: var(--white);
  color: var(--primary);
}

.job-list p {
  margin: 0;
}

.job-list .meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 18px;
}

.job-single {
  display: grid;
  grid-template-areas: 'header' 'aside' 'body';
  grid-template-columns: 1fr;
  gap: 0;
  margin: 0 32px;
}

@media only screen and (min-width: 700px) {
  .job-single {
    grid-template-areas:
      'header header'
      'aside body';
    gap: 0 32px;
    grid-template-columns: minmax(30%, 300px) 1fr;
  }
}

.job-single header {
  grid-area: header;
}

.job-single aside {
  grid-area: aside;
  background: var(--box);
  padding: 32px;
  border-radius: 2px;
  margin-bottom: 32px;
}

.job-single aside > * {
  margin: 0;
  margin-bottom: 12px;
}

.job-single aside h2 a {
  text-decoration: none;
}

.job-single a.button {
  margin-top: 32px;
  text-decoration: none;
  display: block;
}

.job-single a.button:hover {
  color: var(--white);
  text-decoration: underline;
  background: var(--salmon-dark);
}

.list {
  margin: 64px 32px;
}

@media only screen and (min-width: 700px) {
  .list {
    margin: 64px 0;
  }
}
