.article {
  max-width: 800px;
  max-width: 70ch;
  margin: 0 auto;
}

section > header {
  margin-top: 40px;
}

section h1 {
  margin: 24px 0 48px 0;
}

main .pill-button {
  font-weight: 500;
  text-decoration: none;
  transition: background-color 100ms ease-out;
}

main .pill-button:hover {
  background: var(--salmon-dark);
  color: white;
  text-decoration: underline;
}

#inclusion main {
  background: url(/images/inclusion.png) no-repeat top right;
  background-size: 45%;
  padding-right: 50%;
  background-position: 105% 25%;
}

@media only screen and (max-width: 700px) {
  main {
    padding: 0 20px;
  }

  .body > footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  #inclusion main {
    padding-right: 20px;
    background: none;
  }
}

.article .body .pill-cta {
  font-size: 16px;
  border-radius: 999px;
  background-color: var(--salmon);
  display: block;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  font-size: 18px;
  color: var(--white);
  padding: 15px 28px;
  cursor: pointer;
  text-decoration: none;
  max-width: 300px;
  max-width: fit-content;
  margin: 0 auto;
}

.article .body a.pill-cta:hover {
  color: var(--white);
  text-decoration: underline;
}

section > header {
  padding: 0;
}
