.article {
  max-width: 920px;
  margin: 0 auto;
}

.article h1 {
  margin: 24px 0 48px 0;
}

main .pill-button {
  font-weight: 500;
  text-decoration: none;
  transition: background-color 100ms ease-out;
}

main .pill-button:hover {
  background: var(--salmon-dark);
  color: white;
  text-decoration: underline;
}

#inclusion main {
  background: url(/images/inclusion.png) no-repeat top right;
  background-size: 45%;
  padding-right: 50%;
  background-position: 105% 25%;
}

@media only screen and (max-width: 700px) {
  main {
    padding: 0 20px;
  }

  #inclusion main {
    padding-right: 20px;
    background: none;
  }
}
