* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background: #fafafa;
  color: #212121;
  /* font-weight: 300; */
  /* max-width: 80%; */
  max-width: 720px;
  max-width: 60ch;
  font-size: 16px;
  line-height: 28px;
  margin: 40px auto;
}

hr {
  border: 0;
  border-bottom: 2px solid #ccc;
  border-radius: 2px;
}

h1,
h2 {
  margin: 42px 0 24px 0;
  font-weight: 600;
}

a {
  color: blue;
}

strong {
  font-weight: 700;
}

mark {
  display: block;
  padding: 10px;
  text-align: center;
  background: #ddd;
  border-radius: 2px;
}

@media (max-width: 720px) {
  body {
    margin: 20px;
    max-width: 100%;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  li a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.if-has-offline {
  opacity: 0;
  transition: opacity 100ms ease-out;
}

.has-offline .if-has-offline {
  opacity: 1;
}

pre code,pre[class*="language-"] code {
  color: #272727;
  background: #f3f3f3;
  padding: 0.5em;
  -webkit-text-size-adjust: none
}

pre,pre[class*="language-"] {
  padding: 0 0.2em;
  margin: 10px 0;
  line-height: 1.475;
  color: #272727;
  background: #f3f3f3;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 3px;
  direction: ltr;
  text-align: left;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  word-wrap: break-word;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
  overflow-x: scroll;
  display: block;
  width: 100%;
  overflow: auto;
  max-width: 100%
}

pre code,pre[class*="language-"] code {
  word-wrap: -moz-break-word;
  word-wrap: break-word;
  white-space: pre;
  word-wrap: normal;
  display: table-cell!important;
  -webkit-text-size-adjust: none
}

code {
  font-family: 'ubuntu mono',menlo,monaco,consolas,courier,'courier new','lucida console',monospace;
}
