---
layout: layouts/base.njk
---

<style>
.tweet-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tweet-list .tweet {
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.tweet-list .tweet * {
  padding: 0;
  margin: 0;
}

.tweet-list a {
  color: var(--primary);
  transition: color 150ms ease-out;
}

.tweet-list a:hover {
  color: var(--salmon);
}

.tweet-list li {
  padding: 32px;
  background: var(--box);
  margin: 0;
  margin-bottom: 32px;
  width: 100%;
}

.u-hiddenVisually {
  font-size: 0;
  line-height: 0;
}

.tweet-list li .pill {
  background-color: var(--white);
}

.tweet-list li .Emoji {
  height: 1.25em;
  width: 1.25em;
  padding: 0 .05em 0 .1em;
  vertical-align: -0.2em;
}

.tweet-list header {
  display: flex;
  align-items: center;
}

.tweet-list header strong {
  flex: 1;
  margin-left: 18px;
}

.tweet-list .avatar {
  height: 40px;
  width: 40px;
  border-radius: 9999px;
}

.tweet-list .images {
  margin-top: 20px;
  max-height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1px;
  border-radius: 2px;
  overflow: hidden;
}

.tweet-list .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.images-3 img:first-child {
  grid-column: span 2;
  grid-row: span 2;
}
</style>

<style>
  @media only screen and (min-width: 700px) {
    .tweet-list {
      /* height: {{ tweets.length / 2 * 282 }}px; */
      height: calc({{tweets.length}} * 282px);
    }

    .tweet-list {
      display: flex;
      flex-flow: column wrap;
      align-content: space-between;
    }

    .tweet-list li:nth-child(2n+1) { order: 1; }
    .tweet-list li:nth-child(2n+2) { order: 2; }

    .tweet-list::before{
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 2;
    }

    .tweet-list li {
      width: 49%;
    }


  }
</style>

<section class="tweets">
  <header class="with-filter">
    <h1><span id="count">Tweets we like</span></h1>
  </header>

  <ul class="tweet-list">
  {% for tweet in tweets | sortBy("-date") %}
  <li>

      <header>
        <img class="avatar" src="{{ tweet.avatar }}">
        <strong><a href="{{tweet.url}}" target="_blank">{{ tweet.username }}</a></strong>
        <span class="pill">{{ tweet.date | format("D MMM YYYY") }}</span>
      </header>
      <div class="tweet">
        {{ tweet.body | safe }}
        {% if tweet.images.length > 0 %}
        <div class="images images-{{ tweet.images.length }}">
          {% for img in tweet.images %}
          <img src="{{ img }}">
          {% endfor %}
        </div>
        {% endif %}
      </div>

  </li>
  {% endfor %}
  </ul>
</section>
