---
id: home
layout: layouts/base
css: home.css
---

<section>
  <header class="vevent">
    <h2 class="summary">ffconf is a full day of eight carefully curated sessions for an audience that cares about the future of the web, and who want their ideas challenged.</h2>
    <div class="next">
      <p class="next-icon">Latest edition</p>
      <h3 class=""><a target="_blank" class="url" href="{{ next.url }}"><abbr class="dtstart" title="{{ next.date }}">{{ next.date | format }}</abbr></a></h3>
    </div>
  </header>

  <div class="talk-text-cards">
  {% set talk = collections.randomLatest[0] %}
  {% include "talk-text-card.njk" %}
  {% set talk = collections.randomLatest[1] %}
  {% include "talk-text-card.njk" %}
  </div>
</section>
