---
id: home
layout: layouts/base
css: home.css
hide_newsletter: true
---

<section>
  <header>
    <h2 class="summary attention">Thanks! Now check your email to confirm your subscription, and you'll hear from our latest news and insights in the coming months</h2>
  </header>

  <div class="talk-text-cards">
  {% set talk = talks[0] %}
  {% include "talk-text-card.njk" %}
  {% set talk = talks[1] %}
  {% include "talk-text-card.njk" %}
  </div>
</section>
