---
layout: layouts/base.njk
---

<section class="talks">
  <header class="with-filter">
    <h1>{{ talks.length }} Talks</h1>
    <details>
      <summary class="pill-button filter"><span class="label">Filter Talks</span></summary>
      <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit neque odio minima praesentium veniam error cum ducimus, non quibusdam earum, corporis quaerat modi nemo libero nisi, magni perferendis officiis eveniet!</div>
    </details>
  </header>


  <div class="talk-list">
    <ul>
    {%- for talk in talks %}
      <li class="talk-card" style="background-image: url({{ talk.speaker.photo }})" data-year="{{ talk.event.year }}">
        <a href="/talks/{{ talk.slug }}/">
          <header>
            <h2>
              {{ talk.speaker.name }}
            </h2>
            <p>{{ talk.title }}</p>
          </header>
          <span class="pill">{{ talk.event.year }}</span>
        </a>
      </li>
    {%- endfor %}
    </ul>
  </div>
</section>
