---
layout: layouts/base.njk
---

<style>
  .article-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .article-list li {
    background-color: var(--box);
    padding: 14px 32px 14px 22px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .article-list li a {
    padding: 10px;
    color: var(--primary);
    font-weight: 500;
    line-height: 1.33;
    text-decoration: none;
  }

  .article-list .pill.active {
    background: var(--white);
    color: var(--primary);
  }

</style>
{% set articles = collections.articles %}
<section class="articles">
  <header class="with-filter">
    <h1><span id="count">{{ articles.length }} Articles</span></h1>
    <details>
      <summary class="pill-button filter"><span class="label">Filter Talks</span></summary>
      <div class="body">
        <div class="pill-list">
        {% for tag in articles | unique("data.tags") %}
          <label tabindex="0" class="checkbox-pill"><input value="{{ tag }}" type="checkbox"><span class="pill">{{ tag }}</span></label>
        {% endfor %}
        </div>
      </div>
    </details>
  </header>

  <ul class="article-list">
  {% for article in articles %}
  <li>
    <a href="{{ article.url }}">{{article.data.title}}</a>
    <span class="pills">
        <span class="pill active">{{ article.data.date | format("YYYY") }}</span>{% for tag in tags %}<span class="pill active">{{ tag }}</span>{% endfor %}
    </span>
  </li>
  {% endfor %}
  </ul>
</section>
